extends layout


block title
  | A title to change

block description
  | Description to change

block slides
  include mixins

  +slide('cover.jpg')#Cover.on-dark
    :markdown
      ## [Shower Presentation Engine](https://github.com/shower/shower)

      Brought to you by [Vadim Makeev](http://pepelsbey.net)

    style.
      #Cover h2 {
        margin:30px 0 0;
        text-align:center;
        font-size:70px;
      }
      #Cover h2 > a {
        background: transparent;
      }
      #Cover p {
        margin:10px 0 0;
        text-align:center;
        font-style:italic;
        font-size:20px;
      }

  +slide('#09f').shout.on-dark
    :markdown
      ## [And](https://github.com/preusx/shower)

  +slide
    :markdown
      ## Jade compiler

      1. `jade/index.jade` - place your slides here.
      2. `+slide` mixin for creating a slide.<br>
      3. `+slide('path/to/image.jpg')` to set an image from your `pictures` directory that will cover the slide.
      3. `+slide('#color')` to set the color of the slide.

  +slide
    :markdown
      ## Markdown slides

      Markdown syntax with `:markdown` filter brought you by npm `marked` module.<br>
      Example:
      ```js
      +slide
        :markdown
          ## Hello world
      ```

  +slide#Single
    :markdown
      ## Single file build with the:

      `grunt single` command.

      All images, CSS and JavaScript files are inlining to the `index.html`.

    style.
      #Cover h2 {
        margin:30px 0 0;
        text-align:center;
        font-size:70px;
      }
      #Cover h2 > a {
        background: transparent;
      }
      #Cover p {
        margin: 0 auto;
        text-align:center;
        font-size:20px;
        max-width: 250px;
      }
