- var _slide_id_prefix = 'slide-'
- var _slide_id_counter = 0
- var _slide_id_current = ''


mixin slide(image)
  if !attributes.id
    - _slide_id_counter += 1
    - _slide_id_current = _slide_id_prefix + _slide_id_counter.toString()
    - attributes.id = _slide_id_current
  else
    - _slide_id_current = attributes.id

  if !attributes.class
    - attributes.class = []

  if image
    - attributes.class += ' cover '
    - image = 'pictures/' + image

  section.slide&attributes(attributes)
    div
      if image
        img(src!=image)

      block
